@import "libs/reset.scss";
@import "libs/responsive.scss";

$primary: green; 

body{
    padding: 10px;
    background: #FFF;
    font-family: sans-serif;
    border-radius: 3px;
}

.table {
    width: 100%;

    td {
        border: 1px solid #ccc;
    }

    thead {
        background: #000;
        color: #fff;

        th {
            background: #000;
        }
    }

}
%btn {
    border-radius: 3px;
    padding: 5px 12px;
}
.btn {
    @extend %btn;
    text-decoration: none;
    background: $primary;
    color: #FFF;
    
    &:hover {
        background: #ccc;
    }
}
.btn-danger {
    @extend .btn;

    background: rgb(0, 38, 255);
    &:hover {
        background: rgb(218, 26, 186)
    }
}

.card-action {
    @extend .btn ;
}

.card-cancel {
    @extend .btn-danger;
}

.card-actions {
    display: flex;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.card {
    padding: 10px;
}
 
@media #{$medium-down} {
    .card-actions {
        display: block;
    }
    .btn {
        width: 100%;
    }
}

