@import "libs/reset.scss";
body{
    background: rgb(221, 72, 72);
}

.table {
    width: 100%;

    td {
        border: 1px solid #ccc;
    }

    thead {
        background: #000;
        color: #fff;

        th {
            background: #000;
        }
    }

}

.btn {
    background: rgb(145, 58, 58);

    &:hover {
        background: rgb(44, 192, 56);
    }

    .theme-vert & {
        background: green;
    }
}